body {
    background-color: rgb(205, 30, 240);
    margin: 10px;
   
}
header {
    background-color: blaxk
}
h1 {
    float: center;
    margin-left: 20px;
    margin-right: 50px;
 
    
}
h2 {
    float: left
    text-shadow: white;
}
