body {
    background-color: tan; 
    margin: 10px;
   
}
header {
    background-color: green
}
h1 {
    float: center;
    margin-left: 20px;
    margin-right: 50px;
 
    
}
h2 {
    float: none
     
}
