body {
    background-color: blue;
    margin: 0px;
    padding-left:
}

header {
    background-color: blueviolet height: 100px
}

h1 {
    float: right;
    margin-left: 20px;
    margin-right: 50px;
    color: red;
    text-shadow: 5px 5px 5px white;
}
h2 {
    float: left
    color: red;
    text-shadow: 5px 5px 5px white;
}
img  { 
     width: 150px; 
     height: 150px;
}

<section class="lower"></section>nav {
    width: 140%;
}
