body {
    background-color: rgb(205, 30, 240);
    margin: 10px;
    scroll-padding-right;:
}

header {
    background-color: red
}

h1 {
    float: center;
    margin-left: 20px;
    margin-right: 50px;
    color: red;
    text-shadow: 5px 5px 5px white;
}
h2 {
    float: left
    color: red;
    text-shadow: 5px 5px 5px white;
}
img  { 
     width: 600px; 
     height: 600px;
}

<section class="lower"></section>nav {
    width: auto; 
    height: auto;
}
