body {
    background-color: blue;
    margin: 0px;
    padding-left:
}

header {
    background-color: blueviolet height: 100px
}
h1 {
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    color: red;
    text-shadow: 5px 5px 5px white;
    }
    
    nav {
      width: 40%;
    }
    